<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--isAnonymous = 로그인 안한사람 isAuthenticated = 로그인 한사람-->
    <a href="/login"><p sec:authorize="isAnonymous()">logIn</p></a>
    <form method="post" action="/logout" sec:authorize="isAuthenticated()">
        <input type="submit" value="logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
    <a href="/new"><P sec:authorize="isAnonymous()">signUp</P></a>
</body>
</html>